<?xml version="1.0" encoding="UTF-8"?>
<screen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://moqui.org/xsd/xml-screen-3.xsd"
        default-menu-title="Workflow" require-authentication="true"
        server-static="vuet,qvt">

    <subscreens default-item="TaskList">
        <subscreens-item name="TaskList" menu-title="My Tasks" menu-index="1"
                location="component://collie-flowable/screen/TaskList.xml"/>
        <subscreens-item name="InstanceDetail" menu-title="Instance" menu-index="2" menu-include="false"
                location="component://collie-flowable/screen/InstanceDetail.xml"/>
        <subscreens-item name="ProcessList" menu-title="Definitions" menu-index="3"
                location="component://collie-flowable/screen/ProcessList.xml"/>
        <subscreens-item name="Designer" menu-title="Process Designing" menu-index="4" menu-include="false"
                location="component://collie-flowable/screen/ProcessDesigner.xml"/>
        <subscreens-item name="Monitor" menu-title="Monitor" menu-index="5"
                location="component://collie-flowable/screen/Monitor.xml"/>
        <subscreens-item name="Asset" menu-title="Asset" menu-include="false"
                location="component://collie-flowable/screen/Asset.xml"/>
    </subscreens>

    <widgets>
        <subscreens-panel id="cf-app" type="popup"/>
    </widgets>
</screen>
